<h4><?php echo $this->__('Brand List') ?></h4>

<?php $collection = $this->getBrandCollection(); ?>
<?php foreach ($collection as $item): ?>

    <?php echo $item->getName(), "</br>"; ?>
    <?php echo $item->getLevel(), "</br>"; ?>
    <?php echo $item->getOriginCountry(), "</br>"; ?>
    <?php echo $item->getWebsite(), "</br>", "</br>"; ?>
<?php endforeach; ?>